/ {
        reserved-memory {
                cmem_block_mem_0: cmem_block_mem@__CMEM_BASE__ {
                        reg = <0x__CMEM_BASE__ 0x__CMEM_SIZE__>;
                        no-map;
                        status = "okay";
                };
        };

        cmem {
                compatible = "ti,cmem";
                #address-cells = <1>;
                #size-cells = <0>;

                status = "okay";

                cmem_block_0: cmem_block@0 {
                        reg = <0>;
                        memory-region = <&cmem_block_mem_0>;
                        cmem-buf-pools = <1 0x__CMEM_SIZE__>;
                };
        };

};
