# Used as the 2MiB aligned load address for kernel
CONFIG_SYS_LOAD_ADDR=0x82000000
CONFIG_SPL_STACK_R_ADDR=0x88000000
CONFIG_SPL_LOAD_FIT_ADDRESS=0x82000000
CONFIG_SPL_PAYLOAD_ARGS_ADDR=0x88000000
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x2700000
