&pruss_soc_bus {
		uio_pruss2_mdio: uio_mdio@32400 {
			compatible = "ti,davinci_mdio";
			reg = <0x32400 0x90>;
			clocks = <&dpll_core_m4_ck>;
			clock-names = "fck";
			bus_freq = <1000000>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		uio_pruss2_mem: uio_pruss2_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54400000 0x2000>,
			      <0x54402000 0x2000>,
			      <0x54410000 0x8000>,
			      <0x54420000 0x2000>,
			      <0x54426000 0x2000>,
			      <0x5442e000 0x31c>,
			      <0x54432000 0x58>;
			mem-names = "dram0", "dram1", "shrdram2", "intc", "cfg",
				    "iep", "mii_rt";
			status = "okay";
		};
		uio_pruss2_mem2: uio_pruss2_mem2 {
			compatible = "ti,uio-module-drv";
			mem = <0x54428000 0x38>,
			      <0x54430000 0x60>,
			      <0x54432400 0x90>,
			      <0x40320000 0x20000>;
			mem-names = "uart", "ecap", "mdio", "ocmc";
			status = "okay";
		};
		uio_pruss2_evt0: uio_pruss2_evt0 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt1: uio_pruss2_evt1 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt2: uio_pruss2_evt2 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt3: uio_pruss2_evt3 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt4: uio_pruss2_evt4 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 24 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt5: uio_pruss2_evt5 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt6: uio_pruss2_evt6 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 26 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss2_evt7: uio_pruss2_evt7 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};

		uio_pruss2_0_mem: uio_pruss2_0_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54434000 0x3000>,
			      <0x54422000 0x400>,
			      <0x54422400 0x100>;
			mem-names = "iram", "control", "debug";
			status = "okay";
		};

		uio_pruss2_1_mem: uio_pruss2_1_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54438000 0x3000>,
			      <0x54424000 0x400>,
			      <0x54424400 0x100>;
			mem-names = "iram", "control", "debug";
			status = "okay";
		};

		uio_pruss1_mem: uio_pruss1_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54440000 0x1000>,
			      <0x54442000 0x1000>,
			      <0x54450000 0x8000>,
			      <0x54460000 0x2000>,
			      <0x54466000 0x2000>,
			      <0x5446e000 0x31c>,
			      <0x54472000 0x58>;
			mem-names = "dram0", "dram1", "shrdram2", "intc", "cfg",
				    "iep", "mii_rt";
			status = "okay";
		};
		uio_pruss1_mem2: uio_pruss1_mem2 {
			compatible = "ti,uio-module-drv";
			mem = <0x54468000 0x38>,
			      <0x54470000 0x60>,
			      <0x54472400 0x90>,
			      <0x40302000 0x1e000>;
			mem-names = "uart", "ecap", "mdio", "ocmc";
			status = "okay";
		};
		uio_pruss1_evt0: uio_pruss1_evt0 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 159 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt1: uio_pruss1_evt1 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 160 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt2: uio_pruss1_evt2 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 161 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt3: uio_pruss1_evt3 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 162 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt4: uio_pruss1_evt4 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt5: uio_pruss1_evt5 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 164 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt6: uio_pruss1_evt6 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 165 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};
		uio_pruss1_evt7: uio_pruss1_evt7 {
			compatible = "ti,uio-module-drv";
			interrupts = <GIC_SPI 166 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-mode = <1>;
			status = "okay";
		};

		uio_pruss1_0_mem: uio_pruss1_0_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54474000 0x1000>,
			      <0x54462000 0x400>,
			      <0x54462400 0x100>;
			mem-names = "iram", "control", "debug";
			status = "okay";
		};
		uio_pruss1_1_mem: uio_pruss1_1_mem {
			compatible = "ti,uio-module-drv";
			mem = <0x54478000 0x1000>,
			      <0x54464000 0x400>,
			      <0x54464400 0x100>;
			mem-names = "iram", "control", "debug";
			status = "okay";
		};
};

&am43xx_pinmux {
	uio_pruss2_mdio_eth_default: uio_pruss2_mdio_eth_default {
		pinctrl-single,pins = <
			AM4372_IOPAD(0x88c, (PIN_OUTPUT | MUX_MODE5))           /* gpmc_clk.pr1_mdio_mdclk */
			AM4372_IOPAD(0xa70, (PIN_INPUT  | MUX_MODE8))           /* xdma_event_intr0.pr1_mdio_data */
			AM4372_IOPAD(0xa00, (PIN_INPUT_PULLUP | MUX_MODE7))     /* cam1_data6.gpio4_20 */
			AM4372_IOPAD(0x8a0, (PIN_INPUT  | MUX_MODE2))   /* dss_data0.pr1_mii_mt0_clk */
			AM4372_IOPAD(0x8b4, (PIN_OUTPUT | MUX_MODE2))   /* dss_data5.pr1_mii0_txd0 */
			AM4372_IOPAD(0x8b0, (PIN_OUTPUT | MUX_MODE2))   /* dss_data4.pr1_mii0_txd1 */
			AM4372_IOPAD(0x8ac, (PIN_OUTPUT | MUX_MODE2))   /* dss_data3.pr1_mii0_txd2 */
			AM4372_IOPAD(0x8a8, (PIN_OUTPUT | MUX_MODE2))   /* dss_data2.pr1_mii0_txd3 */
			AM4372_IOPAD(0x8cc, (PIN_INPUT  | MUX_MODE5))   /* dss_data11.pr1_mii0_rxd0 */
			AM4372_IOPAD(0x8c8, (PIN_INPUT  | MUX_MODE5))   /* dss_data10.pr1_mii0_rxd1 */
			AM4372_IOPAD(0x8c4, (PIN_INPUT  | MUX_MODE5))   /* dss_data9.pr1_mii0_rxd2 */
			AM4372_IOPAD(0x8c0, (PIN_INPUT  | MUX_MODE5))   /* dss_data8.pr1_mii0_rxd3 */
			AM4372_IOPAD(0x8a4, (PIN_OUTPUT | MUX_MODE2))   /* dss_data1.pr1_mii0_txen */
			AM4372_IOPAD(0x8d8, (PIN_INPUT  | MUX_MODE5))   /* dss_data14.pr1_mii_mr0_clk */
			AM4372_IOPAD(0x8dc, (PIN_INPUT  | MUX_MODE5))   /* dss_data15.pr1_mii0_rxdv */
			AM4372_IOPAD(0x8d4, (PIN_INPUT  | MUX_MODE5))   /* dss_data13.pr1_mii0_rxer */
			AM4372_IOPAD(0x8d0, (PIN_INPUT  | MUX_MODE5))   /* dss_data12.pr1_mii0_rxlink */
			AM4372_IOPAD(0xa40, (PIN_INPUT  | MUX_MODE5))   /* gpio5_10.pr1_mii0_crs */
			AM4372_IOPAD(0xa38, (PIN_INPUT  | MUX_MODE5))   /* gpio5_8.pr1_mii0_col */
			AM4372_IOPAD(0x858, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a6.pr1_mii_mt1_clk */
			AM4372_IOPAD(0x854, (PIN_OUTPUT | MUX_MODE5))   /* gpmc_a5.pr1_mii1_txd0 */
			AM4372_IOPAD(0x850, (PIN_OUTPUT | MUX_MODE5))   /* gpmc_a4.pr1_mii1_txd1 */
			AM4372_IOPAD(0x84c, (PIN_OUTPUT | MUX_MODE5))   /* gpmc_a3.pr1_mii1_txd2 */
			AM4372_IOPAD(0x848, (PIN_OUTPUT | MUX_MODE5))   /* gpmc_a2.pr1_mii1_txd3 */
			AM4372_IOPAD(0x86c, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a11.pr1_mii1_rxd0 */
			AM4372_IOPAD(0x868, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a10.pr1_mii1_rxd1 */
			AM4372_IOPAD(0x864, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a9.pr1_mii1_rxd2 */
			AM4372_IOPAD(0x860, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a8.pr1_mii1_rxd3 */
			AM4372_IOPAD(0x840, (PIN_OUTPUT | MUX_MODE5))   /* gpmc_a0.pr1_mii1_txen */
			AM4372_IOPAD(0x85c, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a7.pr1_mii_mr1_clk */
			AM4372_IOPAD(0x844, (PIN_INPUT  | MUX_MODE5))   /* gpmc_a1.pr1_mii1_rxdv */
			AM4372_IOPAD(0x874, (PIN_INPUT  | MUX_MODE5))   /* gpmc_wpn.pr1_mii1_rxer */
			AM4372_IOPAD(0xa4c, (PIN_INPUT  | MUX_MODE5))   /* gpio5_13.pr1_mii1_rxlink */
			AM4372_IOPAD(0xa44, (PIN_INPUT  | MUX_MODE5))   /* gpio5_11.pr1_mii1_crs */
			AM4372_IOPAD(0x878, (PIN_INPUT  | MUX_MODE5))   /* gpmc_be1n.pr1_mii1_col */
		>;
	};
};

&uio_pruss2_mdio {
	pinctrl-0 = <&uio_pruss2_mdio_eth_default>;
	pinctrl-names = "default";
	status = "okay";

	reset-gpios = <&gpio4 20 GPIO_ACTIVE_LOW>;
	reset-delay-us = <2>;   /* PHY datasheet states 1uS min */

	uio_pruss2_eth0_phy: uio_ethernet-phy@0 {
		reg = <0>;
	};

	uio_pruss2_eth1_phy: uio_ethernet-phy@1 {
		reg = <1>;
	};
};

&pruss1 {
	status = "disabled";
};

&pru1_0 {
	status = "disabled";
};

&pru1_1 {
	status = "disabled";
};

&pruss1_intc {
	status = "disabled";
};

&pruss1_mdio {
	status = "disabled";
};

&pruss0 {
	status = "disabled";
};

&pru0_0 {
	status = "disabled";
};

&pru0_1 {
	status = "disabled";
};

&pruss0_intc {
	status = "disabled";
};

&pruss1_emac0 {
	status = "disabled";
};

&pruss1_emac1 {
	status = "disabled";
};
